<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiTechnAPI | Home</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body class="font-Poppins">
    <!-- Header and Hero Sections -->
    <section
      class="bg-gradient-to-br from-[#1e3c72] via-[#2a5298] to-[#5006a0] min-h-[100vh] xl:min-h-[70ch]"
    >
      <section class="container mx-auto max-w-[1200px]">
        <!-- Header Section -->
        <header class="flex items-center justify-between p-4">
          <a href="/">
            <img
              class="w-[120px] sm:w-[180px]"
              src="/images/kitechnapiLogo.png"
              alt=""
            />
          </a>
          <nav class="mt-6 gap-6 text-white text-lg hidden sm:flex">
            <a
              href="/"
              class="font-semi-bold py-1 px-4 rounded-full text-white hover:bg-white hover:text-blue-700 transition"
              >Home &nbsp; <i class="fa-solid fa-house"></i
            ></a>
            <a
              href="https://github.com/samikannup53/KiTechnAPI.git"
              target="_blank"
              class="font-semi-bold py-1 px-4 rounded-full text-white hover:bg-white hover:text-blue-700 transition"
              >Github &nbsp; <i class="fa-brands fa-github"></i>
            </a>
            <a
              href="/docs"
              class="font-semi-bold py-1 px-5 rounded-full text-white hover:bg-white hover:text-blue-700 transition"
              >Docs &nbsp; <i class="fa-solid fa-book"></i>
            </a>
          </nav>
          <div class="sm:hidden mt-2 text-white text-xl flex gap-3">
            <a
              href="https://github.com/samikannup53/KiTechnAPI.git"
              target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="/docs"><i class="fa-solid fa-book"></i></a>
          </div>
        </header>

        <!-- Hero Section -->
        <section>
          <!-- Hero Container -->
          <div class="container mx-auto p-4">
            <!-- Hero Wrapper -->
            <div
              class="flex flex-col sm:flex-row justify-between items-start lg:py-6 gap-10 sm:gap-0"
            >
              <!-- Left Side Text Content -->
              <div
                class="md:w-1/2 text-center md:text-left flex flex-col items-center sm:items-start"
              >
                <h1
                  class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold mb-4 text-white md:mt-4 lg:mt-6"
                >
                  Build APIs Smarter with
                  <span class="text-orange-400 font-extrabold">KiTechnAPI</span>
                </h1>
                <p
                  class="text-lg sm:text-sm lg:text-lg text-white/90 mb-6 w-[85%]"
                >
                  A clean and modern backend solution for recipe management —
                  built using Node.js, Express, MongoDB, and Mongoose.
                </p>
                <div
                  class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start"
                >
                  <a
                    href="https://github.com/samikannup53/KiTechnAPI.git"
                    target="_blank"
                    class="bg-orange-400 hover:bg-orange-500 text-white font-semibold py-2 px-6 rounded-full"
                  >
                    View on GitHub <i class="fa-brands fa-github"></i>
                  </a>
                  <a
                    href="/docs"
                    class="bg-white hover:bg-gray-200 py-2 px-6 rounded-full font-semibold text-blue-700"
                  >
                    Read Docs <i class="fa-solid fa-book"></i>
                  </a>
                </div>
              </div>

              <!-- Right Side Image -->
              <div class="md:w-1/2">
                <img
                  src="/images/heroImage.png"
                  alt="Hero illustration"
                  class="w-full max-w-xl mx-auto xl:-mr-7"
                />
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>

    <!-- About Section -->
    <section class="bg-gradient-to-br from-white via-[#e0f7fa] to-[#b2ebf2]">
      <div class="container mx-auto p-4">
        <div class="flex flex-col items-center justify-center py-10">
          <!-- Information Wrapper -->
          <div class="max-w-[750px] text-center flex flex-col items-center">
            <h2 class="text-3xl font-bold mb-2 text-gray-800">
              Why KiTechnAPI ?
            </h2>
            <p class="text-gray-700 mb-6 text-sm sm:text-base w-[90%]">
              KiTechnAPI enables developers to create, manage, and test recipe
              APIs efficiently. It provides a structured, scalable backend using
              Node.js, Express, MongoDB, and EJS templating.
            </p>
          </div>

          <!-- Card Wrpper -->
          <div class="flex flex-wrap justify-center gap-4 max-w-[1200px]">
            <!-- Card 1 -->
            <div
              class="w-[90%] cursor-default bg-gradient-to-br from-[#e0f7fa] via-white to-[#fcebd4] sm:w-1/4 rounded-2xl shadow-md p-6 border-t-4 border-orange-400 hover:shadow-lg transition"
            >
              <h3 class="text-xl font-bold mb-2">Smart & Scalable</h3>
              <p class="text-sm text-blue-800">
                Recipe APIs made easy with
                <span class="text-orange-500 font-semibold">KiTechnAPI</span>.
              </p>
            </div>

            <!-- Card 2 -->
            <div
              class="w-[90%] cursor-default bg-gradient-to-br from-[#e0f7fa] via-white to-[#fcebd4] sm:w-1/4 rounded-2xl shadow-md p-6 border-t-4 border-orange-400 hover:shadow-lg transition"
            >
              <h3 class="text-xl font-bold mb-2">Modern Tech Stack</h3>
              <p class="text-sm text-blue-800">
                Powered by Node.js, Express & MongoDB with clean architecture.
              </p>
            </div>

            <!-- Card 3 -->
            <div
              class="w-[90%] cursor-default bg-gradient-to-br from-[#e0f7fa] via-white to-[#fcebd4] sm:w-1/4 rounded-2xl shadow-md p-6 border-t-4 border-orange-400 hover:shadow-lg transition"
            >
              <h3 class="text-xl font-bold mb-2">Developer Friendly</h3>
              <p class="text-sm text-blue-800">
                Build faster with structured, scalable backend code.
              </p>
            </div>
          </div>
        </div>

        <!-- API Section -->
        <div class="w-[90%] sm:w-full lg:w-[75%] max-w-[980px] mx-auto my-6">
          <!-- Section Heading -->
          <h2 class="text-3xl font-bold text-gray-800 mb-2">API Reference</h2>
          <p>Supported HTTP Methods and Routes</p>

          <!-- API Table -->
          <div class="overflow-x-auto my-6">
            <table
              class="min-w-full border border-gray-200 shadow-lg rounded-lg overflow-hidden"
            >
              <thead
                class="bg-blue-100 text-blue-900 text-left text-sm uppercase tracking-wider"
              >
                <tr>
                  <th class="py-2 lg:py-3 px-3">Method</th>
                  <th class="py-2 lg:py-3 px-3">Endpoint</th>
                  <th class="py-2 lg:py-3 px-3">Description</th>
                  <th class="py-2 lg:py-3 px-3">Request Body</th>
                  <th class="py-2 lg:py-3 px-3">Response</th>
                </tr>
              </thead>
              <tbody
                class="text-gray-700 text-sm bg-white divide-y divide-gray-100"
              >
                <tr>
                  <td class="py-2 lg:py-3 px-3 font-semibold text-green-600">
                    GET
                  </td>
                  <td class="py-2 lg:py-3 px-3">/recipes</td>
                  <td class="py-2 lg:py-3 px-3">Get all recipes</td>
                  <td class="py-2 lg:py-3 px-3 text-red-500">❌</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">
                    ✅ List of Recipes
                  </td>
                </tr>
                <tr>
                  <td class="py-2 lg:py-3 px-3 font-semibold text-green-600">
                    GET
                  </td>
                  <td class="py-2 lg:py-3 px-3">/recipes/:recipeID</td>
                  <td class="py-2 lg:py-3 px-3">Get Recipe by ID</td>
                  <td class="py-2 lg:py-3 px-3 text-red-500">❌</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">
                    ✅ Single Recipe
                  </td>
                </tr>
                <tr>
                  <td class="py-2 lg:py-3 px-3 font-semibold text-blue-600">
                    POST
                  </td>
                  <td class="py-2 lg:py-3 px-3">/recipes</td>
                  <td class="py-2 lg:py-3 px-3">Create a New Recipe</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">✅ JSON Data</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">
                    ✅ Created Recipe
                  </td>
                </tr>
                <tr>
                  <td class="py-2 lg:py-3 px-3 font-semibold text-yellow-600">
                    PUT
                  </td>
                  <td class="py-2 lg:py-3 px-3">/recipes/:recipeID</td>
                  <td class="py-2 lg:py-3 px-3">Update Recipe by ID</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">✅ JSON Data</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">
                    ✅ Updated Recipe
                  </td>
                </tr>
                <tr>
                  <td class="py-2 lg:py-3 px-3 font-semibold text-red-600">
                    DELETE
                  </td>
                  <td class="py-2 lg:py-3 px-3">/recipes/:recipeID</td>
                  <td class="py-2 lg:py-3 px-3">Delete Eecipe by ID</td>
                  <td class="py-2 lg:py-3 px-3 text-red-500">❌</td>
                  <td class="py-2 lg:py-3 px-3 text-green-500">
                    ✅ Deleted Recipe
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- View Docs Button -->
          <div class="text-center">
            <a
              href="/docs"
              class="inline-block bg-gradient-to-br hover:bg-gradient-to-tl from-[#1e3c72] via-[#2a5298] to-[#5006a0] text-white font-medium py-2 px-6 rounded-full"
            >
              View more on Docs &nbsp; <i class="fa-solid fa-book"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="bg-[#1e3c72] text-white py-10">
      <div class="container mx-auto flex flex-col items-center gap-2">
        <p class="text-white">
          Built with 💖 & by
          <span class="text-orange-400 font-semibold">$ami</span>
        </p>
        <span class="text-2xl"
          ><i class="fa-solid fa-code text-orange-400"></i
        ></span>
        <p>
          Copyright @ 2025
          <span class="text-orange-400 font-semibold">KiTechnAPI</span>. All
          rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
